<div class="artist-search">
    <h1>Find an Artist</h1>
    <div>
        <p>Enter an artist to see random lyrics from that artist</p>
        <form {{action "submitArtistForm" on="submit"}}>
            <input type="text" required="true" name="arist" />
            <button type="submit">Find</button>
        </form>
    </div>
    <div>
        <p>Or select one of the developer's favorite artists!</p>
        <ul>
            <li>{{#link-to "artist" "Foo Fighters"}}Foo Fighters{{/link-to}}</li>
            <li>{{#link-to "artist" "Led Zeppelin"}}Led Zeppelin{{/link-to}}</li>
            <li>{{#link-to "artist" "Ween"}}Ween{{/link-to}}</li>
        </ul>
    </div>

</div>
{{yield}}