<nav>
    <div class="nav-wrapper  green lighten-1">
        <ul class="left">
            <li>{{#link-to "index"}}<i class="material-icons">search</i>{{/link-to}}</li>
        </ul>
    </div>
</nav>
<div class="main container">
    <div class="row center-align">
      <div class="s12 m8 l2 main-content">
        {{outlet}}
      </div>
    </div>

</div>
<footer>

</footer>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}