<header>
</header>
<div class="main container">
    <div class="row center-align">
      <div class="s12 m8 l4">
        {{outlet}}
      </div>
    </div>

</div>
<footer>

</footer>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}