<nav>
    <div class="nav-wrapper  green lighten-1">
        <ul id="nav-mobile" class="left">
            <li><a href="sass.html" name="Start a new Search"><i class="material-icons">search</i></a></li>
        </ul>
    </div>
</nav>
<div class="main container">
    <div class="row center-align">
      <div class="s12 m8 l2 main-content">
        {{outlet}}
      </div>
    </div>

</div>
<footer>

</footer>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}